src/main/resources/xsdFiles/entityXSDS/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Invoice" type="InvoiceType"/>
    <xs:complexType name="invoiceType">
        <xs:sequence>
            <xs:element name="transactionID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="5"/>
                        <xs:enumeration value="6"/>
                        <xs:enumeration value="7"/>
                        <xs:enumeration value="8"/>
                        <xs:enumeration value="9"/>
                        <xs:enumeration value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="inventoryID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="5"/>
                        <xs:enumeration value="6"/>
                        <xs:enumeration value="7"/>
                        <xs:enumeration value="8"/>
                        <xs:enumeration value="9"/>
                        <xs:enumeration value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="isInStock"/>
            <xs:element name="price">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="$695.00"/>
                        <xs:enumeration value="$2495.00"/>
                        <xs:enumeration value="$49.95"/>
                        <xs:enumeration value="$34.95"/>
                        <xs:enumeration value="$469.95"/>
                        <xs:enumeration value="$25.00"/>
                        <xs:enumeration value="$11.95"/>
                        <xs:enumeration value="$12.95"/>
                        <xs:enumeration value="$55.95"/>
                        <xs:enumeration value="$2.95"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="discount">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="25%"/>
                        <xs:enumeration value="30%"/>
                        <xs:enumeration value="15%"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="preTax"/>
            <xs:element type="xs:string" name="tax"/>
            <xs:element name="subtotal">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="$559.04"/>
                        <xs:enumeration value="$1873.12"/>
                        <xs:enumeration value="$45.54"/>
                        <xs:enumeration value="$31.86"/>
                        <xs:enumeration value="$378.02"/>
                        <xs:enumeration value="$22.79"/>
                        <xs:enumeration value="$10.89"/>
                        <xs:enumeration value="11.81"/>
                        <xs:enumeration value="$51.01"/>
                        <xs:enumeration value="$2.69"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="InvoiceType">
        <xs:sequence>
            <xs:element type="invoiceType" name="invoice" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>